.main {
    background: rgb(24, 24, 24);
}

body {
    background-color: rgb(26, 25, 25);
}

.header {
    display: flex;
}

.left-section-main {
    width: 50%;
}

h1 {
    font-size: 120px;
}

.main-description {
    font-size: 40px;
}

.right-section-main {
    width: 50%;
}

.main-button-a {
    font-size: 90px;
}


/* main {
    padding: 2%;
}

h1 {
    width: 60%;
    padding: 15px;
    font-size: 200%;
    color: rgb(158, 128, 19)
}

.top-nav {
    width: 40%;

}

.nav-links {
    display: flex;
}

li {
    width: 33%;
}

a {
    color: rgb(158, 128, 19);
    width: 33%;
}

.link-div {
    text-align: center;
}

h2 {
    font-size: 350%;
    text-align: center;
}




 */

/* 
h1 {
    color: rgb(158, 128, 19);
    padding: 8px;
}

.nav {
    display: flex;
    justify-content: space-around;
}

a {
    color: rgb(158, 128, 19);
}

li {
    border: solid 3px white;
} */
